*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; 
  text-decoration: none;
}
:root{
  --bg-color:black;
  --main-color:rgb(0, 217, 255);
}
body{
  width: 100%;
  margin: auto;
  background: var(--bg-color);
  color: white;
}