@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Matemasie&family=Nosifer&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Matemasie&family=Nosifer&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Me {
    width: 320px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease-in-out;
}

.Me:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.btn-group a {
    color: var(--main-color);
    font-size: 20px;
}

.btn-group {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
    transition: 0.3s ease-in-out;
}

.btn-group:hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 80px var(--main-color);

    a {
        color: white;
    }
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}

.MeBox {
    display: flex;
    padding: 50px 100px;
    gap: 100px;
    h1 {
        color: var(--main-color);
        font-family: "Nosifer", sans-serif;
        font-weight: 400;
        font-style: normal;
        transition: 0.5s ease;
        font-size: 50px;
    }
    h1:hover{
        color:white;
    }
}
.Paraghraph{
    font-size: 28px;
    transition: 0.3s;
}
.Paraghraph:hover{
   color: var(--main-color);
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 120px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr{
   outline: none;
   border: none;
   width: 50%;
   height: 8px;
   border-radius: 50px;
   background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
}
.about-skill:hover{
   transform: scale(1.05);
   transition: 0.3S;
}
.about-section{
   display: flex;
   gap: 60px;
   justify-content: center;
}
.about-head{
    text-align: center;
    font-size: 50px;
   padding-bottom: 40px;
}
.About-text{
font-size: 20px;
padding: 7px 0 10px 0;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}
.img{
    width: 320px;
    object-fit: cover;
}

/* Contact hissesi */

.contact-sec{
    display: flex;
    justify-content: center;
   gap: 100px;
   padding-top: 10px;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
}
.contact-me{
    display: flex;
    gap: 10px;
}
.contact-icon{
    font-size: 20px;
    color: var(--main-color);
}
.contact-text{
    font-size: 15px;
}
.Contact-paraghraph{
    color: var(--main-color);
    font-size: 17px;
    padding: 10px 0 15px 0;
}
.lets{
    font-size: 30px;
}
.ContactInp{
    width: 300px;
    border-radius: 30px;
    height: 40px;
    padding: 0 20px;
    outline: none;
    border: none;
    margin: 6px 0;
}
.contactBtn{
    border: none;
    border-radius: 30px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
    color: white;
    padding: 12px 30px;
    transition: 0.5s;
}
.contactBtn:hover{
    background: linear-gradient(264deg,#df8908b9 -5.09%,#b515ffd2 106.28%);
    transform: scale(0.9);
}
.textare{
    outline: none;
    border: none;
    width: 320px;
    height: 100px;
}
.Your{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media screen and (max-width:500px) {
    .MeBox {
        h1 {
            font-size: 30px;
        }
    }
    .Paraghraph{
        font-size: 20px;
    }
    .about-head{
        text-align: center;
        font-size: 30px;
       padding-bottom: 20px;
    }
    .textare{
    width: 250px;
    height: 100px;
}
.ContactInp{
    width: 220px;
}
}
@media screen and (max-width:850px) {
    .MeBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
       text-align: center;
    padding: 20px 10px;
    }
    .img{
       display: none;
    }
    .icon-box {
       justify-content: center;
    }
    .about-section{
        display: flex;
        gap: 20px;
       text-align: center;
        flex-direction: column;
     }
     .about-skills{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    
    .about-head{
       padding-bottom: 10px;
    }
    .contact-sec{
        display: flex;
        justify-content: center;
       gap: 50px;
       margin: auto;
       padding: 20px;
      flex-direction: column;
    }
    
}