.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:black;
    padding: 20px 100px;
    color: aliceblue;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    .nav-btn{
        outline: none;
        display: none;
        cursor: pointer;
        border: none;
        background: transparent;
        font-size: 20px;
        padding: 5px;
    }
    .nav-btn-box{
        display: none;
    }
}
.pages{
    display: flex;
    align-items: center;  
    gap: 15px;
}
.pages li a{
  color: var(--main-color);
 border-bottom: 3px solid transparent;
 transition: 0.3s ease;
}

.pages li a:hover,
.pages li .active{
    border-bottom: 2px solid var( --main-color);
  }

.StarLogo{
    width: 160px;
    height: 60px;
    object-fit: cover;
    transition: 1s;
}
.StarLogo:hover{
  transform: scale(1.1);
}
@media screen and (max-width:670px) {
    .navbar{
        .nav-btn{
            display: block;
            color: #B923E1;
        }
        .nav-btn-box{
            display: block;
        }
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        transform: translateY(-100%);
        background-color: red;
    }
    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .responsive_nav{
        transform: none;
    }
    .contactBtn{
        display: none;
    }
}